@media screen and (max-width:600px){
    .firstsection{
        height: 520px ;
    }
    .firstsection-leftdiv{
        width: 60%;
     
    }
    .firstsection-rightdiv{
       width: 40%; 
    }
    .link-holder {
        flex-direction: column;
        padding: 40px;
    }
    .link-holder h4{
     margin-bottom: 20px;  
    }
    .heading{
        font-size: 25px;
    }
.firstsection-leftdiv p{
font-size: 16px;
}
.line{
    width: 200px;
}

/* ===== First section ends here===== */

/* ===== second section starts here===== */
.secondsection-rightdiv{
    margin-left: o;
    margin-top: 30px;
 }


/* ===== second section ends here===== */

/* ===== third section starts here===== */
.thirdsection{
    flex-direction: column-reverse;
    background: var(--gray-color);
}

/* ===== third section ends here===== */


/* ===== third section ends here===== */
footer{
   flex-direction: column; 
   padding: 10px 30px;
   text-align: center;

}
.footericons-container{
    margin: 10px 0;
}

/* ===== third section ends here===== */


}

